.btn-secondary {

	margin-top: 2vh;
	margin-bottom: 4vh;
}

.center {
	width: 80%;
	margin: 0 auto;
}

.comment-container {
    height: 15vh;
    border-style: solid;
    border-width: 1px;
    border-color: #9C9C9C;
    border-radius: 3px;
    padding: 10px;
    overflow: auto;

}

#contextVideo {
     position: relative;
     width: 100%;
     height: 0;
     padding-bottom: 56.25%;
}

.video {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
 }

#alert {
   display: none;
}